In [7]:
import pandas as pd
import random

In [3]:
df = pd.read_csv('../bases_dados/census.csv')

In [5]:
stream = []

for i in range(len(df)):
    stream.append(i)

In [8]:
def amostragem_reservatorio(df, amostras):
    stream = []
    
    for i in range(len(df)):
        stream.append(i)
    
    i = 0
    tamanho = len(df)
    
    reservatorio = [0] * amostras
    
    for i in range(amostras):
        reservatorio[i] = stream[i]
        
    while i < tamanho:
        j = random.randrange(i + 1)
        
        if j < amostras:
            reservatorio[j] = stream[i]
        
        i += 1
    return df.iloc[reservatorio]

In [10]:
df_amostragem_reservatorio = amostragem_reservatorio(df, 100)
df_amostragem_reservatorio.shape

(100, 15)

In [11]:
df_amostragem_reservatorio.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
11491,30,Private,222162,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,66,United-States,<=50K
13597,40,Private,69333,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
21299,24,Private,192201,Some-college,10,Never-married,Exec-managerial,Not-in-family,Black,Female,0,0,20,United-States,<=50K
19532,27,Private,133929,Bachelors,13,Never-married,Prof-specialty,Unmarried,White,Female,0,0,36,?,<=50K
9644,18,Private,238401,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,25,United-States,<=50K